data/HTBCFiles
data/MassSpec
matlab/lib/dump_editted.numbers
matlab/lib/dump_editted.xlsx
.#*
matlab/lib/dump.csv
matlab/scripts/html/compositions.pdf
data/matfiles/mzdata.mat
data/matfiles/compounds-20200226-2255.mat
results/report-20200226-2255.csv
data/Hits/hits.csv
data/Hits/fold.csv
matlab/scripts/ops.csv
python/moldist/src/preds.csv
matlab/scripts/cdivmux/ops.csv
IDT Lib Order.xlsx
data/matfiles/S7SDF.mat
~$IDT Lib Order.xlsx
.DS_Store
matlab/S7/cdivmux/ops.csv
matlab/S7/d.txt
matlab/S7/mzfind.m
matlab/S7/run-20200726-2220.txt
matlab/S7/run-20200727-1000.txt
matlab/S7/s7compounds.mat
*.mat
matlab/S7/s7compounds3Add2.txt
matlab/scripts/20200804/matches.csv
data/matfiles/compounds.mat
python/pytorch/.idea/$CACHE_FILE$
python/pytorch/.idea/dbnavigator.xml
python/pytorch/.idea/inspectionProfiles/profiles_settings.xml
python/pytorch/.idea/inspectionProfiles/Project_Default.xml
python/pytorch/.idea/misc.xml
python/pytorch/.idea/modules.xml
python/pytorch/.idea/pytorch.iml
python/pytorch/.idea/vcs.xml
data/matfiles/compounds.mat
python/openms
results/report-202008241747.csv
matlab/QTOF-20201002/build
matlab/QTOF-20201002/build2
matlab/QTOF-20201002/build3
matlab/QTOF-20201002/ident.csv
matlab/QTOF-20201002/validate.txt
results/report-202010250850.csv
